@using LunchList.DTO;
@model List<GroceryItemDTO>

<form method="get" action="">
    <label for="selectedGroceryListId">Select Grocery List:</label>
    @Html.DropDownList("selectedGroceryListId", (IEnumerable<SelectListItem>)ViewBag.GroceryLists, new { @class = "form-control" })
    <button type="submit">Filter</button>
</form>

<h2>Grocery Items</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Is Checked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.RetailerProductName</td>
                <td>@item.Quantity</td>
                <td> <input type="checkbox" disabled @(item.Is_Checked_Bool ? "checked" : "") /> </td>
            </tr>
        }
    </tbody>
</table>

